    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% url "core:home" %}#page-top"><i class="fa fa-gift"></i>
 WishesList</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="{% url "core:home" %}#page-top"></a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li ng-controller="ModalCtrl">
                            <a class="" href="#" ng-click="showModal('common/partials/login_modal',{controller:'BaseModalCtrl'})"><i class="fa fa-gift"></i> Produkty z katalogu</a>
                        </li>
                        <li ng-controller="ModalCtrl">
                            <a class="" href="#" ng-click="showModal('common/partials/login_modal',{controller:'BaseModalCtrl'})"><i class="fa fa-user"></i> Mój profil</a>
                        </li>
                        <li ng-controller="ModalCtrl">
                            <a class="" href="#" ng-click="showModal('common/partials/login_modal',{controller:'BaseModalCtrl'})"><i class="fa fa-users "></i> Znajomi</a>
                        </li>
                        <li>
                            <a class="" href="#" ng-click=""><i class="fa fa-th-list"></i> Moje listy</a>
                        </li>
                        <li ng-controller="authCtrl">
                            <a class="" href="#" ng-click="logout()"><i class="fa fa-power-off"></i> Wyloguj</a>
                        </li>
                    {% else %}
                        <li ng-controller="ModalCtrl">
                            <a class="" href="#" ng-click="showModal('common/partials/login_modal',{controller:'BaseModalCtrl'})"><i class="fa fa-user"></i> Zaloguj</a>
                        </li>

                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>