{% extends "base/base.html" %}
{% load thumbnail %}
{% load core_tags %}

{% block navbar %}
    {% include "base/wishes_navbar.html" %}
{% endblock %}
{% block content %}
{% get_site_settings as settings %}
    <header>
        <div class="container">
            <div class="intro-text " ng-controller="ModalCtrl">
                <div class="intro-lead-in"><i class="fa fa-clock-o"></i> {{ event.date|date:"d E Y H:i"}}</div>
                {% if event.owner != request.user %}
                <div class="intro-lead-in"><i class="fa fa-user"></i> Utworzone przez: {{ event.owner.nick }}</div>
                {% endif %}
                <div class="intro-heading"> {{ event.name }}</div>
                <a href="#gifts" class="page-scroll btn btn-xl"><i class="fa fa-chevron-down"></i> Zobacz listę prezentów</a>
            </div>
        </div>
    </header>

    <section id="gifts" class="bg-light-gray">
        <div class="container">
            <div class="container">
                {% for gift in gifts %}


                    <div class="row border-bottom extra-space">
                        <div class="col-md-8">
                            <h4>{{ gift.product.name }}</h4>
                        </div>

                        {% if owner %}
                            <div class="col-md-4 text-center">
                                {% if gift.reservation_date %}
                                <div class="text-success">
                                    <i class="fa fa-check"></i> Zarezerwowany dnia: {{ gift.reservation_date|date:"SHORT_DATE_FORMAT" }}
                                </div>
                                {% else %}
                                <div class="text-warning">
                                    <i class="fa fa-minus"></i> Oczekujący na rezerwację
                                </div>
                                {% endif %}
                            </div>
                        {% else %}
                        <div class="col-md-4 actions">
                            <div class="btn-group" role="group" aria-label="..." ng-controller="ModalCtrl">
                                {% if not gift.reservation_date %}
                                    <button type="button" ng-click="showModal('common/partials/reservation_modal',{controller:'BaseModalCtrl',additionalData:{idToEdit:'{{ gift.id |escapejs }}',user:'{{ request.user.id |escapejs }}'}})" class="btn btn-success pull-right"><i class="fa fa-check-circle-o"></i> Rezerwuj</button>
                                {% else %}
                                    <div class="text-success">
                                        <i class="fa fa-check"></i> Zarezerwowany dnia: {{ gift.reservation_date|date:"SHORT_DATE_FORMAT" }}
                                        {% if gift.reserved_by == request.user %}
                                            &nbsp;
                                        <button type="button" ng-click="showModal('common/partials/reservation_cancel_modal',{controller:'BaseModalCtrl',additionalData:{idToEdit:'{{ gift.id |escapejs }}',user:'{{ request.user.id |escapejs }}', cancel:true}})" class="btn btn-danger pull-right"><i class="fa fa-times-circle-o"></i></button>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                        <hr class="custom"/>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}