{% extends "base/base.html" %}
{% load thumbnail %}
{% load core_tags %}
{% block content %}
{% get_site_settings as settings %}
<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading">{{ message }}</div>
                <a href="{% url "core:home" %}" class="page-scroll btn btn-xl">Powrót na stronę główną</a>
            </div>
        </div>
    </header>
{% endblock %}