{% extends "base/base.html" %}
{% load thumbnail %}
{% load core_tags %}

{% block navbar %}
    {% include "base/wishes_navbar.html" %}
{% endblock %}
{% block content %}
{% get_site_settings as settings %}
    <header>
        <div class="container">
            <div class="intro-text " ng-controller="ModalCtrl">
                <div class="intro-lead-in"><i class="fa fa-users"></i> z nimi możesz dzielić się swoimi listami</div>
                <div class="intro-heading">Twoi znajomi</div>
                                <a href="{% url "users:search_friends" %}" class="btn btn-xl"><i class="fa fa-search"></i>
Szukaj nowych</a>
                <div class="intro-lead-in"></div>
                <div class="intro-lead-in">lub</div>
                <a href="#requests" class="page-scroll btn btn-xl"><i class="fa fa-chevron-down"></i> Zobacz znajomych</a>
            </div>
        </div>
    </header>
<div >


    <section id="requests" class="bg-light-gray" ng-controller="FriendsCtrl"  ng-init="currentUserNick='{{ request.user.nick }}'">

        <div class="container" ng-init="loadRequests()">
            <div class="row" ng-show="!gatheringData">

                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nowe zaproszenia</h2>
                    <h3 class="section-subheading text-muted">Ci użytkownicy chcieliby CIę dodać do znajomych!</h3>
                </div>

                    <div class="col-md-6 col-xs-12" ng-show="requests.length">
                        <div class="form-group">
                            <input type="text" ng-model="search.owner_nick" class="form-control"
                                   maxlength="50" placeholder="Szukaj... " id="email">

                            <p class="help-block text-danger text-left"></p>
                        </div>
                    </div>
                    <div class="row border-bottom extra-space bottom" ng-repeat="r in filtered = (requests | filter:search ) | limitTo: limitRequests as results  track by $index">
                        <div class="col-md-8">
                            <a href="{$ event.full_url $}"><i class="fa fa-user-plus"></i> <h4 ng-bind="r.owner_nick"></h4></a>
                        </div>
                        <div class="col-md-4 actions">
                            <div class="btn-group pull-right" role="group" aria-label=".">
                              <button type="button" class="button btn btn-default" ng-click="accept(r)"><i class="fa fa-check"></i></button>
                              <button type="button" class="button btn btn-danger" ng-click="decline(r)"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </div>
                    </div>
            </div>
            <div id="bottom" class="row" ng-show="gatheringData">
                <div class="col-xs-12 text-center">
                    <i class="fa fa-spinner fa-spin fa-5x"></i>
                </div>
            </div>
            <div id="bottom" class="row" ng-show="!gatheringData&&!requests.lenght">
                <div class="col-xs-12 text-center">
                    <h5><i class="fa fa-inbox fa-2x"></i> Brak zaproszeń</h5>
                </div>
            </div>
        </div>

    </section>
    <section id="friends" class="bg-light-gray" ng-controller="FriendsCtrl" ng-init="currentUserNick='{{ request.user.nick|escapejs}}'">
        <div class="container">
            <div class="row" ng-init="loadFriends()" ng-show="!gatheringData">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Twoi znajomi</h2>
                    <h3 class="section-subheading text-muted">Z nimi możesz dzielić się swoimi listami!</h3>
                </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <input type="text" ng-model="search.user.nick" class="form-control"
                                   maxlength="50" placeholder="Szukaj... " id="email">

                            <p class="help-block text-danger text-left"></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                    </div>
                    <div class="row border-bottom extra-space bottom" ng-repeat="f in filtered = (friends | filter:search ) | limitTo: limitFriends as results  track by $index">
                        <div class="col-md-8">
                            <a href="{$ event.full_url $}"><h4 ><i class="fa fa-user"></i> <span ng-bind="f.user.nick"></span></h4></a>
                            <h5><span ng-bind="event.date | date: 'd MMM yyyy H:mm'"></span></h5>
                        </div>
                        <div class="col-md-4 actions" ng-controller="ModalCtrl">
                            <div class="btn-group pull-right" role="group" aria-label=".">
                              <button type="button" class="button btn btn-danger" ng-click="showModal('common/partials/delete_friend_modal',{controller:'BaseModalCtrl',additionalData:{idToEdit:f.id,friendship:f}})"><i class="fa fa-trash-o"></i></button>
                                <a href="{$f.user.url_to_lists$}" class="button btn btn-info"><i class="fa fa-list"></i> Zobacz listy</a>
                            </div>
                        </div>
                    </div>
            </div>
            <div id="bottom" class="row" ng-show="filtered.length > results.length&&!gatheringData">
                <div class="col-xs-12 text-center">
                    <a href="#bottom" class="btn btn-xl page-scroll" ng-click="showMoreFriends()">Wczytaj więcej</a>
                </div>
            </div>
            <div id="bottom" class="row" ng-show="gatheringData">
                <div class="col-xs-12 text-center">
                    <i class="fa fa-spinner fa-spin fa-5x"></i>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}